<div class="row" style="text-align: center;display:none;">
    <div class="col-sm-6">
         <Select class="form-control" name="shipping">
                            
            <Option value="PRE"> <%= __('freight prepaid') %> </option>
                            
            <Option value="POST"> <%= __('postpaid courier') %> </option>
        </Select>
    </div>        
</div>
<div class="row" style="align-content: center;text-align: center; display:none;">
    <div class="col-sm-2">
        <select id="payment" class="form-control" name="payment">
            <option value="bank_transfer"> <%= __('Bank Transfer') %> </option>
        </select>
    </div>
</div>